body {
	text-align: center;
	background: ghostwhite;
}
div.image {
	max-width: 800px;
	margin: 0 auto;
}
div.image img {
	width: 100%;
	height: 75%;
}
div.buttons {
	margin-top: 30px;
}

.boxes {
	width: 120px;
	height: 40px;
	border-radius: 3px;
	font-size: 16px;
	font-family: sans-serif;
	font-weight: lighter;
	vertical-align: middle;
	background-color: #3A78D5;
	color: white;
	border-color: #e6e6e6;

}